{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{{setting.logo.url}}" alt="img">
                </a>
            </div>
        </div>
        {% include 'include/search.html' %}
        <div class="item mobile-settings-box has-sub">
            <a href="#">
						<span class="icon">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</span>
            </a>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation  menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>
<div class="site-content">
    <main class="site-main  main-container no-sidebar">
        <div class="container">
            <div class="breadcrumb-trail breadcrumbs">
                <ul class="trail-items breadcrumb">
                    <li class="trail-item trail-begin">
                        <a href="">
								<span>
									Главная
								</span>
                        </a>
                    </li>
                    <li class="trail-item trail-end active">
							<span>
								Корзина
							</span>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="main-content-cart main-content col-sm-12">
                    <h3 class="custom_blog_title">
                        Корзина
                    </h3>
                    <div class="page-main-content">
                        <div class="shoppingcart-content">
                            <form action="shoppingcart.html" class="cart-form">
                                <table class="shop_table">
                                    <thead>
                                    <tr>
                                        <th class="product-remove"></th>
                                        <th class="product-thumbnail"></th>
                                        <th class="product-name"></th>
                                        <th class="product-price"></th>
                                        <th class="product-quantity"></th>
                                        <th class="product-subtotal"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cart_item in cart_items %}
                                    <tr class="cart_item">
                                        <td class="product-remove">
                                            <a href="{% url 'remove_from_cart' cart_item.id %}" class="remove"></a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'product_detail' cart_item.id %}">
                                                <img src="{{cart_item.image.url}}" alt="img"
                                                     class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                            </a>
                                        </td>
                                        <td class="product-name" data-title="Product">
                                            <a href="{% url 'product_detail' cart_item.id %}" class="title">{{cart_item.title}}</a>
                                            <span class="attributes-select attributes-color">{{cart_item.color}}</span>
                                            <span class="attributes-select attributes-size">{{cart_item.size}}</span>
                                        </td>
                                            <td class="product-quantity" data-title="Quantity">
                                                <div class="quantity">
                                                    <div class="control">
                                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                        <input type="text" data-step="1" data-min="0" value="1" title="Qty"
                                                            class="input-qty qty" size="4">
                                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                                    </div>
                                                </div>
                                            </td>
                                        <td class="product-price" data-title="Price">
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">
														</span>
														{{cart_item.price}} сом
													</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="actions">
                                            <div class="order-total">
														<span class="title">
														Общая сумма:
														</span>
                                                <span class="total-price">
                                                    {{total_price}} cом
														</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                            <div class="control-cart">
                                <button class="button btn-continue-shopping">
                                    Продолжить покупку
                                </button>
                                <button class="button btn-cart-to-checkout">
                                    Заказать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% include 'include/footer.html' %}

{% endblock %}