{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{{setting.logo.url}}" alt="img">
                </a>
            </div>
        </div>
        {% include 'include/search.html' %}
        <div class="item menu-bar">
            <a class=" mobile-navigation  menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>
<div class="main-content main-content-checkout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a href="{% url 'index' %}">Главная</a>
                        </li>
                        <li class="trail-item trail-end active">
                            Заказать
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="custom_blog_title">
            Заказать
        </h3>
        <div class="checkout-wrapp">
            <div class="shipping-address-form-wrapp">
                <div class="shipping-address-form  checkout-form">
                    <div class="row-col-1 row-col">
                        <form action="/submit-shipping-address" method="POST" class="shipping-address-form">
                            <h3 class="title-form">
                                Адрес доставки
                            </h3>
                            <p class="form-row form-row-first">
                                <label class="text" for="first-name">Имя</label>
                                <input id="first-name" name="first_name" type="text" class="input-text" required>
                            </p>
                            <p class="form-row form-row-last">
                                <label class="text" for="last-name">Фамилия</label>
                                <input id="last-name" name="last_name" type="text" class="input-text" required>
                            </p>
                            <p class="form-row forn-row-col forn-row-col-1">
                                <label class="text" for="city">Город</label>
                                <input id="city" name="city" type="text" class="input-text" required>
                            </p>
                            <p class="form-row forn-row-col forn-row-col-2">
                                <label class="text" for="street">Улица</label>
                                <input id="street" name="street" type="text" class="input-text" required>
                            </p>
                            <p class="form-row forn-row-col forn-row-col-3">
                                <label class="text" for="home">Дом</label>
                                <input id="home" name="home" type="text" class="input-text" required>
                            </p>
                            <p class="form-row form-row-first">
                                <label class="text" for="phone">Номер телефона</label>
                                <input id="phone" name="phone" type="text" class="input-text" required>
                            </p>
                            <p class="form-row form-row-last">
                                <label class="text" for="notes">Примечания</label>
                                <input id="notes" name="notes" type="text" class="input-text">
                            </p>
                            <p class="form-row form-row-submit">
                                <button type="submit" name="checkout_form" class="submit-button">Отправить</button>
                            </p>
                        </form>
                    </div>
                    <div class="row-col-2 row-col">
                        <div class="your-order">
                            <h3 class="title-form">
                                Ваши заказы
                            </h3>
                            <ul class="list-product-order">
                                {% for cart_product in cart_products%}
                                <li class="product-item-order">
                                    <div class="product-thumb">
                                        <a href="#">
                                            <img src="{{cart_product.product.image.url}}" alt="img">
                                        </a>
                                    </div>
                                    <div class="product-order-inner">
                                        <h5 class="product-name">
                                            <a href="#">{{cart_product.product.title}}</a>
                                        </h5>
                                        <span class="attributes-select attributes-color">{{cart_product.product.color}}</span>
                                        <span class="attributes-select attributes-size">{{cart_product.product.size}}</span>
                                        <div class="price">
                                            {{cart_product.product.price}}сом
                                            <span class="count">{{cart_product.quantity}}</span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="order-total">
									<span class="title">
										Total Price:
									</span>
                                <span class="total-price">
										$95
									</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="end-checkout-wrapp">
                <div class="end-checkout checkout-form">
                    <div class="icon">
                    </div>
                    <h3 class="title-checkend">
                        Congratulation! Your order has been processed.
                    </h3>
                    <div class="sub-title">
                        Aenean dui mi, tempus non volutpat eget, molestie a orci.
                        Nullam eget sem et eros laoreet rutrum.
                        Quisque sem ante, feugiat quis lorem in.
                    </div>
                    <a href="#" class="button btn-return">Return to Store</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'include/footer.html' %}
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="#">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="#">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop">
    <i class="fa fa-angle-double-up"></i>
</a>
{% endblock %}