{% load static %}
<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg">
                    <div class="ysera-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title"> НОВОСТНАЯ РАССЫЛКА</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                Подпишитесь на наш бесплатный видеокурс и
вдохновение для городского сада
                            </div>
                            <input type="email" class="input-text email email-newsletter"
                                   placeholder="Your email letter">
                            <button class="button btn-submit submit-newsletter">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="ysera-custommenu default">
                        <h2 class="widgettitle">Меню</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="{% url 'index' %}">Главная</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'about' %}">О нас</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'product_index' %}">Магазин</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'cart' %}">Корзина</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'contact' %}">Контакт</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <div class="ysera-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">НОВОСТНАЯ РАССЫЛКА</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                Подпишитесь на наш бесплатный видеокурс и
вдохновение для городского сада
                            </div>
                            <input type="email" class="input-text email email-newsletter"
                                   placeholder="Введите вашу почта...">
                            <button class="button btn-submit submit-newsletter">Подписаться</button>
                        </div>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="ysera-custommenu default">
                        <h2 class="widgettitle">Информация</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">FAQs</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Track Order</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Delivery</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Contact Us</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Return</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-end">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="ysera-socials">
                            <ul class="socials">
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="coppyright">
                            Copyright © 2020
                            <a href="#">nurai</a>
                            . All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>