{% load static %}
<div class="item item mobile-search-box has-sub">
    <a href="#">
                <span class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
    </a>
    <div class="block-sub">
        <a href="#" class="close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <div class="header-searchform-box">
            <form class="header-searchform">
                <div class="searchform-wrap">
                    <input type="text" class="search-input" placeholder="Enter keywords to search...">
                    <input type="submit" class="submit button" value="Search">
                </div>
            </form>
        </div>
    </div>
</div>